
<div>
    <img style="height: 8cm;padding-left: 10cm;" src="https://media.tenor.com/images/741c001403693a562196537f05aa32c0/tenor.gif">
</div>


<body>
<img style="width: 6cm; height: 8cm; margin-top: 8cm ;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.9&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3s7">
<p style="width: 15cm; margin-left: 10cm; margin-top: -8cm;color:black">
    Здоровый образ жизни - это действия, нацеленные на укрепление здоровья. Итак, чтобы быть здоровым, нужно не принебрегать правилами личной гигиены и режимом дня, правильно питаться и заниматься спортом.
</p>
<p style="color:black; margin-top: 10cm; margin-left: 10cm;">
    Дружок, перед тобой строение твоего тела!
</p>
<img style="width: 8cm;height: 10cm; margin-top: 2cm; margin-left: 10cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.3&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3d4">
<img style="width: 6cm; height: 8cm; margin-top: -8cm;margin-right: 10cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.9&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3s7">

<mat-grid-list cols="4" rowHeight="2:1" style="padding-top: 8cm;">
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.7&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3i5" routerLink="/wash"></mat-grid-tile>
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.4&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw383"></mat-grid-tile>
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw342"></mat-grid-tile>
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.8&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3w8"></mat-grid-tile>
  </mat-grid-list>

<img style="width: 6cm;height: 10cm; margin-top: -20cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-f:1698985552464511448&th=1794025bbd2b01d8&view=att&disp=safe&realattid=f_kocg78810">

<img style="width: 8cm;height: 12cm;margin-left: 5cm; margin-top: 20cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.6&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3m6">

</body>
